version: "3.4"

services:
  # client:
  #   container_name: client
  #   hostname: client
  #   build:
  #     context: ./client
  #     target: development
  #   command: npm run dev
  #   ports:
  #     - 3000:3000
  #   volumes:
  #     - ./client/:/app
  #     - /app/node_modules
  #   depends_on:
  #     - server
  server:
    container_name: server
    hostname: server
    build:
      context: ./server
      target: development
    command: npm run dev-watch
    ports:
      - 5000:5000
    volumes:
      - ./server/:/app
      - /app/node_modules
    depends_on:
      - mongo
      - tor
  tor:
    container_name: tor
    image: dperson/torproxy:latest
    ports:
      - 8118:8118
      - 9050:9050
  mongo:
    image: mongo:latest
    container_name: mongo
    restart: always
    ports:
      - 27017:27017
    volumes:
      - mongo:/data/db
volumes:
  mongo:
