version: "3.4"

services:
  client:
    image: client
    build:
      context: client
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: production
      # PORT: 5000
    ports:
      - 3000:5000
  server:
    image: server
    build:
      context: server
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: production
      PORT: 5000
    ports:
      - 5000:5000
  tor:
    image: dperson/torproxy:latest
    ports:
      - 8118:9050
