version: "3.4"

services:
  client:
    container_name: client
    build:
      context: ./client
      dockerfile: ./Dockerfile
      target: build
    environment:
      NODE_ENV: development
    ports:
      - 3000:3000
    volumes:
      - ./client:/app
  server:
    container_name: server
    build:
      context: ./server
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: development
      MONGO_HOST: mongo
      HTTP_PROXY: http://tor:8118
    ports:
      - 5000:5000
    volumes:
      - ./server:/app
  tor:
    container_name: tor
    image: dperson/torproxy:latest
    ports:
      - 8118:8118
      - 9050:9050
  mongo:
    image: mongo:latest
    container_name: mongo
    restart: always
    ports:
      - 27017:27017
    volumes:
      - insights-mongodb:/data/db
volumes:
  insights-mongodb:
