version: "3.4"

services:
  client:
    image: client
    build:
      context: client
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: production
      # PORT: 5000
    ports:
      - 3000:5000
  server:
    image: server
    build:
      context: server
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: production
      PORT: 5000
    ports:
      - 5000:5000
    volumes:
      - insights-mongodb:/data/db
  tor:
    image: dperson/torproxy:latest
    ports:
      - 8118:8118
      - 9050:9050
  mongo:
    image: mongo:latest
    restart: always
    ports:
      - 27017:27017
    volumes:
      - insights-mongodb:/data/db

volumes:
  insights-mongodb:
