version: "3.4"

services:
  client:
    image: client
    build:
      context: client
      dockerfile: ./Dockerfile.dev
    environment:
      NODE_ENV: development
      # PORT: 5000
    ports:
      - 3000:3000
    volumes:
      - ./client:/app
  server:
    image: server_dev
    build:
      context: server
      dockerfile: ./Dockerfile.dev
    environment:
      NODE_ENV: development
      PORT: 5000
      MONGO_HOST: mongo
      HTTP_PROXY: http://tor:8118
    ports:
      - 5000:5000
    volumes:
      - ./server:/app
  tor:
    image: dperson/torproxy:latest
    ports:
      - 8118:8118
      - 9050:9050
  mongo:
    image: mongo:latest
    restart: always
    ports:
      - 27017:27017
    volumes:
      - insights-mongodb:/data/db
volumes:
  insights-mongodb:
