@use "./partials/card";
@use "./partials/popup";
@use "./partials/index";
@use "./partials/keywords";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

$font-family: Helvetica, sans-serif;
$primary-color: white;
$secondary-color: lightgrey;
$text-color: #333;
$text-hover-color: blue;
$border-color: #222;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}
body {
  height: auto;
  background: linear-gradient(#cdd0cb, #e8eae6);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#container {
  width: 95%;
  margin: auto;
  margin-top: 30px;
  padding-bottom: 30px;
}

@mixin fcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pad-top-10 {
  padding-top: 10px;
}

.pad-top-15 {
  padding-top: 15px;
}

.panel-default {
  .panel-heading {
    background-color: #333;
    color: #999;
    text-transform: uppercase;
    font-size: 12px;
  }
}

#dtable td {
  text-align: center;
  // white-space: nowrap;
}

.nav-link {
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
}
