.alerts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
  .list {
    width: 950px;
    margin-bottom: 50px;
  }
  .pagination {
    margin-bottom: 60px;
  }
}
