.alerts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 50px;
  .list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-bottom: 20px;
  }

  .list-item {
    width: 100%;
  }
}
