.posts {
  margin-top: 80px;
  margin-bottom: 90px;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spinner {
  position: absolute;
}

.list {
  width: 950px;
}
