.posts {
  margin-top: 80px;
  margin-bottom: 50px;
}

.pagination {
  margin-bottom: 60px;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spinner {
  position: absolute;
  margin-top: 30%;
}

.list {
  width: 950px;
}
